.Image__Card {
	position: relative;
}

img {
	width: 200px;
	height: 150px;
	object-fit: cover;
	filter: grayscale();
	transition: all 0.5s;
}

.Image__Card:hover img {
	cursor: pointer;
	filter: grayscale(0);
}

.Image__Card:hover .Image__Card__Date {
	display: none;
}

.Image__Card__Username {
	opacity: 0.9;
	position: absolute;
	background-color: #00000056;
	padding: 2px 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	transition: all 0.5s;
}

.Image__Card:hover .Image__Card__Username {
	opacity: 0;
}

.Image__Card__Date {
	position: absolute;
	bottom: 5px;
	right: 0px;
	background-color: #00000056;
	padding: 2px 10px;
	font-size: 9px;
}
